@model IEnumerable<Test2.Models.DBModels.Teaching>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Examinable.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Examiner.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Examinable.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Examiner.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeachingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeachingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeachingId })
        </td>
    </tr>
}

</table>
