@model Test2.Models.DBModels.Question

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RelatedSubject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelatedSubject.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RelatedTopic.TopicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelatedTopic.TopicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionUsage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionUsage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SampleAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SampleAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionFormat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionFormat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionId }) |
    @Html.ActionLink("Back to List", "EditQuestions", "Examiner")
</p>
