@model Test2.Models.DBModels.Question

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card managementFooter">
    <div class="card-header">
        <h5 class="card-title">Question Details</h5>
    </div>
    <div class="card-body">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <dt>@Html.DisplayNameFor(model => model.RelatedSubject.SubjectName)</dt>
                <dd>@Html.DisplayFor(model => model.RelatedSubject.SubjectName)</dd>
            </li>
            <li class="list-group-item">
                <dt>@Html.DisplayNameFor(model => model.RelatedTopic.TopicName)</dt>
                <dd>@Html.DisplayFor(model => model.RelatedTopic.TopicName)</dd>    
            </li>
            <li class="list-group-item">
                <dt>@Html.DisplayNameFor(model => model.QuestionUsage)</dt>
                <dd>@Html.DisplayFor(model => model.QuestionUsage)</dd>    
            </li>
            <li class="list-group-item">
                <dt>@Html.DisplayNameFor(model => model.QuestionText)</dt>
                <dd>@Html.DisplayFor(model => model.QuestionText)</dd>
            </li>
            <li class="list-group-item">
                <dt>@Html.DisplayNameFor(model => model.SampleAnswer)</dt>
                <dd>@Html.DisplayFor(model => model.SampleAnswer)</dd>
            </li>
            <li class="list-group-item">
                <dt>@Html.DisplayNameFor(model => model.QuestionFormat)</dt>
                <dd>@Html.DisplayFor(model => model.QuestionFormat)</dd>
            </li>
        </ul>

        <div id="buttonPadding" class="col-sm-10">
            @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Cancel", "EditQuestions", "Examiner", new { area = "" }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>