@model IEnumerable<Test2.Models.DBModels.MultipleChoice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RelatedQuestion.SubjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionText1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionText2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionText3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionText4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorrectChoice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RelatedQuestion.SubjectId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionText1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionText2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionText3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionText4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrectChoice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MultipleChoiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MultipleChoiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MultipleChoiceId })
        </td>
    </tr>
}

</table>
