@model Test2.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<div id="loginRow" class="row">
    <div class="col-sm-4">
        <div class="card managementFooter">
            <div class="card-header">
                <h4 class="font-weight-bold text-center">Forgotten Password</h4>
            </div>
            <div class="card-body">
                <section id="formSection">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "row-md-2 control-label" })
                            <div class="row-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row-md-10">
                                <input type="submit" value="Email Link" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
