@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Admin";
}

<h2>Administrator's Dashboard</h2>
<hr />
<div class="card-deck managementFooter">
    <div class="card managementFooter">
        <div class="card-body">
            <h5 class="card-title">Create User</h5>
            <p class="card-text">Create a new User, assign their Role and their respective Department!</p>
            @* <a class="btn btn-primary" href="@Url.Action("Register", "Examiner")">Questions</a> *@
            @Html.ActionLink("Create New User", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class= "btn btn-primary" })
        </div>
    </div>
    <div class="card managementFooter">
        <div class="card-body">
            <h5 class="card-title">Manage Departments</h5>
            <p class="card-text">Manage a Department!</p>
            @*<a class="btn btn-primary" href="@Url.Action("EditPapers", "Examiner")">Papers</a>*@
            @Html.ActionLink("Manage Departments", "Index", "Departments", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
        </div>
    </div>
    <div class="card managementFooter">
        <div class="card-body">
            <h5 class="card-title">Access Logs</h5>
            <p class="card-text">Check all of the logged actions of the users from here!</p>
           
            @Html.ActionLink("Access Logs", "Index", "Logs", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
        </div>
    </div>
</div>
<div class="card-deck managementFooter bottom-card-deck">
    <div class="card managementFooter">
        <div class="card-body">
            <h5 class="card-title">Locations</h5>
            <p class="card-text">Add exam locations into the database!</p>
            @*<a class="btn btn-primary" href="@Url.Action("Statistics", "Examiner")">Statistics</a>*@
            @Html.ActionLink("Manage Locations", "Index", "Locations", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
        </div>
    </div>
</div>
