@model Test2.Models.DBModels.Topic

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="loginCard" class="card">
    <div class="card-header">
        <h5 class="card-title">Topic</h5>
    </div>
    <div class="card-body">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <dt>@Html.DisplayNameFor(model => model.RelatedSubject.SubjectName)</dt>
                <dd>@Html.DisplayFor(model => model.RelatedSubject.SubjectName)</dd>
            </li>
            <li class="list-group-item">
                <dt>@Html.DisplayNameFor(model => model.TopicName)</dt>
                <dd>@Html.DisplayFor(model => model.TopicName)</dd>
            </li>
        </ul>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div id="buttonPadding" class="col-sm-10">
                <input type="submit" value="Delete" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "EditQuestions", "Examiner", new { subject = Model.SubjectId }, new { @class = "btn btn-primary" })
            </div>
        }
    </div>
</div>