<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav id="navbar-homepage" class="navbar navbar-expand-lg fixed-top navbar-light shadow-sm" style="background-color:#e3e3e3">
        <div class="container">
            <a class="navbar-brand font-weight-bolder h1" href="@Url.Action("Index", "Home", new { area = "" })">
                <img src=@Url.Content("~/Content/Images/favicon.ico") width="30" height="30" class="d-inline-block align-top" />
                ZPoems
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @if (Request.IsAuthenticated)
                        {
                            <a class="nav-link" href="@Url.Action("Dashboard", "Home")">Dashboard</a>
                        }
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
        </div>
</nav>

<div class="container body-content" style="padding-top:60px">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - GAPT Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>