@using Test2.Models.DBModels
@model IEnumerable<Test2.Models.DBModels.Enrollment>
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="tableCard" class="card">
    <div class="card-header">
        <h2 class="card-title">Results for @ViewBag.Name</h2>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.RelatedSubject.SubjectName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.ExamMark)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.SessionStatus)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.FinalAssessment)
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RelatedStudent.StudentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RelatedSubject.SubjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExamMark)
                        </td>
             
                        <td>
                            @Html.DisplayFor(modelItem => item.SessionStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FinalAssessment)
                        </td>
            
                        @if(item.FinalAssessment==Enrollment.Assessment.Failed) { 
                            <td>
                                @Html.ActionLink("Re-Apply for Resit", "Resit", "Learner", new { id = item.EnrollmentId }, new { @class="btn btn-primary" })
                            </td>
                        }
                        else { <td></td> }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>