@model IEnumerable<Test2.Models.DBModels.ExamSession>
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upcoming Exams for @ViewBag.Name</h2>

<table class="table">
    <tr>

        <th>
            Subject
        </th>
        <th>
            Starts At
        </th>
        <th>
            Ends At
        </th>
        <th>
            Location
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.RelatedSubject.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamEndTime)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.RelatedLocation.Campus)
                @Html.DisplayFor(modelItem => item.RelatedLocation.Building)
                @Html.DisplayFor(modelItem => item.RelatedLocation.Block)
                @Html.DisplayFor(modelItem => item.RelatedLocation.Floor)
                @Html.DisplayFor(modelItem => item.RelatedLocation.Room)
            </td>


        </tr>
    }
</table>
<p>
    End of List

</p>
