@model Test2.Models.DBModels.PaperQuestion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="loginCard" class="card">
    <div class="card-header">
        <h5 class="card-title">Delete Question</h5>
    </div>
    <div class="card-body">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <dt>@Html.DisplayNameFor(model => model.RelatedExamSession.SubjectId)</dt>
                <dd>@Html.DisplayFor(model => model.RelatedExamSession.SubjectId)</dd>
            </li>
            <li class="list-group-item">
                <dt>@Html.DisplayNameFor(model => model.RelatedQuestion.SubjectId)</dt>
                <dd>@Html.DisplayFor(model => model.RelatedQuestion.SubjectId)</dd>
            </li>
            <li class="list-group-item">
                <dt>@Html.DisplayNameFor(model => model.NumberInPaper)</dt>
                <dd>@Html.DisplayFor(model => model.NumberInPaper)</dd>
            </li>
            <li class="list-group-item">
                <dt>@Html.DisplayNameFor(model => model.MarksAllocated)</dt>
                <dd>@Html.DisplayFor(model => model.MarksAllocated)</dd>
            </li>
        </ul>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        <div id="buttonPadding" class="col-sm-10">
            <input type="submit" value="Delete" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "EditPapers", "Examiner", new { subject = Model.RelatedQuestion.SubjectId }, new { @class = "btn btn-primary" })
        </div>
        }
    </div>
</div>