@model Test2.Models.DBModels.PaperQuestion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PaperQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RelatedExamSession.SubjectId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelatedExamSession.SubjectId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RelatedQuestion.SubjectId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelatedQuestion.SubjectId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberInPaper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberInPaper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarksAllocated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarksAllocated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaperQuestionId }) |
    @Html.ActionLink("Back to List", "EditPapers", "Examiner")
</p>
