@model IEnumerable<Test2.Models.DBModels.PaperQuestion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           # in Paper
        </th>
        <th>
          Subject
        </th>
        <th>
           Question
        </th>
        <th>
          Marks
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumberInPaper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelatedExamSession.SubjectId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelatedQuestion.QuestionText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarksAllocated)
        </td>
        <td>
            @Html.ActionLink("Up", "Up", new { id = item.PaperQuestionId }) |
            @Html.ActionLink("Down", "Down", new { id = item.PaperQuestionId }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.PaperQuestionId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PaperQuestionId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PaperQuestionId })
        </td>
    </tr>
}

</table>
