@model Group_APT.Models.Enrollment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelatedStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelatedStudent.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelatedSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelatedSubject.SubjectCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamMark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalAssessment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalAssessment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EnrollmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
