@model IEnumerable<Group_APT.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RelatedStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelatedSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamMark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalAssessment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedStudent.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedSubject.SubjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamMark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalAssessment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EnrollmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EnrollmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EnrollmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
