@model Test2.Models.SetPaperViewModel

@{
    /**/

    ViewBag.Title = "EditPapers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Subject != null)
{

    <div class="card managementFooter">
        <div class="card-header">
            <h2 class="card-title">Subject Code: @Model.Subject</h2>
            <b style="color: red">@ViewBag.Alert</b>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <h5 style="text-align:center">Available Questions</h5>

                    <table class="table table-hover table-bordered table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Topic</th>
                                <th scope="col">Question</th>
                            </tr>
                        </thead>

                        @foreach (var item in Model.AvailableQuestions)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RelatedTopic.TopicName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QuestionText)
                                    @Html.ActionLink("Add", "Create", "PaperQuestions", new { questionid = item.QuestionId, examid = Model.Session, subject = Model.Subject }, new { @class = "btn btn-primary btn-sm" })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div  class="col-sm">
                    <h5 style="text-align:center">Paper Questions</h5>
                    <table class="table table-hover table-bordered table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Question</th>
                                <th scope="col"># in paper</th>
                                <th scope="col">Marks</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>

                        @foreach (var item in Model.Included)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RelatedQuestion.QuestionText)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberInPaper)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MarksAllocated)
                                    @Html.ActionLink("Edit", "Edit", "PaperQuestions", new { id = item.PaperQuestionId }, new { @class = "btn btn-primary btn-sm" })
                                </td>
                                <td>
                                    <div class="col">
                                        @Html.ActionLink("Up", "Up", "PaperQuestions", new { id = item.PaperQuestionId }, new { @class = "btn btn-primary btn-sm" })
                                    </div>
                                    <div class="col coltop2px">
                                        @Html.ActionLink("Down", "Down", "PaperQuestions", new { id = item.PaperQuestionId }, new { @class = "btn btn-primary btn-sm" })
                                    </div>
                                    <div class="col coltop2px">
                                        @Html.ActionLink("Remove", "Delete", "PaperQuestions", new { id = item.PaperQuestionId, session = Model.Session }, new { @class = "btn btn-primary btn-sm" })
                                    </div>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td></td> 
                            <td>Total Marks:</td>
                            <td>@Model.Mark</td>
                            <td></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>

}
else
{
    using (Html.BeginForm("EditPapers", "Examiner", FormMethod.Post, new { @class = "form", role = "form" }))
    {
        <div id="managementFooter" class="card">
            <div class="card-header">
                <h2 class="card-title">Edit Exam Questions</h2>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    @Html.Label("Choose Subject", htmlAttributes: new { @class = "col-sm-2 col-control-label" })
                    <div class="col-sm">
                        @Html.DropDownListFor(model => model.Subject, new SelectList(Model.Subjects, "SubjectId", "subjectName"), "Select Subject", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-sm">
                        <input class="btn btn-outline-primary" type="submit" value="Select" />
                    </div>
                </div>
                <b style="color: red">@ViewBag.Alert</b>
            </div>
        </div>
    }
}
