@model Test2.Models.SetPaperViewModel

@{
    ViewBag.Title = "EditPapers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Subject != null)
{

    <h3 style="  background: #FFFFFF "> Subject Code: @Model.Subject</h3>
                                                                    

    <div class="row"  >
        <div style="align-self: right; float: left; width: 40%; background: #EFFEFF; border: 1px solid #AAAAAA; padding-left: 1px; padding-top: 1px;  box-shadow: 5px 5px 10px #AAAAAA; ">
            <h4 style="background: #111111; color: #FFFFFF; align-content: center ">Available Questions</h4>


            <table class="table">
                <tr>
                    <th>
                        Topic
                    </th>
                    <th>
                        Question
                    </th>
                </tr>

                @foreach (var item in Model.AvailableQuestions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RelatedTopic.TopicName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuestionText) <b> @Html.ActionLink("Include", "Create", "PaperQuestions", new { questionid = item.QuestionId, examid = Model.Session, subject = Model.Subject }, new { })</b>
                        </td>
                        
                         
                    </tr>
                }

            </table>


        </div>

        <div style="align-self: right; width: 59%; float: right; background: #FFFFDD;border: 1px solid #AAAAAA; padding-left: 1px; padding-top: 1px;  box-shadow: 5px 5px 10px #AAAAAA;  ">

            <h4 style="background: #111111; color: #FFFFFF;  align-content: center ">Paper Questions</h4>


            <table class="table">
                <tr>
                    <th>
                        Question
                    </th>
                    <th>
                        # in paper
                    </th>
                    <th>
                        Marks
                    </th>
                    <th>Sort or Remove</th>
                </tr>

                @foreach (var item in Model.Included)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.RelatedQuestion.QuestionText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberInPaper)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MarksAllocated) <b>@Html.ActionLink("Edit", "Edit", "PaperQuestions", new { id = item.PaperQuestionId }, new { })</b>
                        </td>
                        <td>

                            <b>
                                @Html.ActionLink("Up", "Up", "PaperQuestions", new { id = item.PaperQuestionId }, new { }) |
                                @Html.ActionLink("Down", "Down", "PaperQuestions", new { id = item.PaperQuestionId }, new { }) |
                                @Html.ActionLink("Remove", "Delete", "PaperQuestions", new { id = item.PaperQuestionId }, new { })
                            </b>

                        </td>
                    </tr>
                }
                <tr><td></td> <td>Total Marks:</td><td>@Model.Mark  </td> <td></td></tr>

            </table>

        </div>
    </div>
}
else
{
    using (Html.BeginForm("EditPapers", "Examiner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        <div class="form-group">

            <div class="col-md-10">
                @Html.Label("Choose Subject")
                @Html.DropDownListFor(model => model.Subject, new SelectList(Model.Subjects, "SubjectId", "subjectName"), "Select Subject") <input type="submit" value="Select" />
            </div>
        </div>

    }
}
