@using Test2.Models.DBModels
@model IEnumerable<Test2.Models.DBModels.Department>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="tableCard" class="card">
    <div class="card-header">
        <h2 class="card-title">Department Index</h2>
    </div>
    <div class="card-body">
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary style-margin-bottom" })
        @Html.ActionLink("Return", "Dashboard", "Home", new { }, new { @class = "btn btn-primary style-margin-bottom" })
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.DepartmentName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.DepartmentParentId)
                    </th>
                    <th scope="col">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentName)
                        </td>
                        <td>
                            @{
                                List<Department> list = ViewBag.DepartmentList;
                            }
                            @Html.DisplayFor(modelItem => list.Find(x => x.DepartmentId == item.DepartmentParentId).DepartmentName)
                        </td>
                        <td>
                            <div class="col">
                                @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentId }, new { @class = "btn btn-primary btn-sm" })
                            </div>
                            <div class="col coltop10px">
                                @Html.ActionLink("Details", "Details", new { id = item.DepartmentId }, new { @class = "btn btn-primary btn-sm" })
                            </div>
                            <div class="col coltop10px">
                                @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentId }, new { @class = "btn btn-primary btn-sm" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>