@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Management Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Management Dashboard</h2>
<hr />
<div class="card-deck managementFooter">
    <div class="card managementFooter">
        <div class="card-body">
            <h5 class="card-title">Students Enrollments</h5>
            <p class="card-text">To enroll a student into a subject's exam or to view and edit enrollments!</p>
            @Html.ActionLink("Enrollments", "Index", "Enrollments", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
        </div>
    </div>
    <div class="card managementFooter">
        <div class="card-body">
            <h5 class="card-title">Examiner to Subject</h5>
            <p class="card-text">Manage which persons are associated to which subject. Assigning them rights to edit and correct the exams for said subject.</p>
            @Html.ActionLink("Subject Examiners", "Index", "Teachings", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
        </div>
    </div>
    <div class="card managementFooter">
        <div class="card-body">
            <h5 class="card-title">Manage Exams</h5>
            <p class="card-text">Edit each subject's exam session. Assign the location, date, time and proctors to each exam!</p>
            @Html.ActionLink("Manage Exams", "ExamManager", "Clerk", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
        </div>
    </div>
</div>
<div class="card-deck managementFooter bottom-card-deck">
    <div class="card managementFooter">
        <div class="card-body">
            <h5 class="card-title">Manage Subjects</h5>
            <p class="card-text">Create or editing subjects for your department!</p>
            @Html.ActionLink("Manage Subjects", "Index", "Subjects", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
        </div>
    </div>
    <div class="card managementFooter">
        <div class="card-body">
            <h5 class="card-title">Manage Locations</h5>
            <p class="card-text">Add exam locations to the database!</p>
            @Html.ActionLink("Manage Locations", "Index", "Locations", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
        </div>
    </div>
    <div class="card managementFooter">
        <div class="card-body">
            <h5 class="card-title">Manage Statistics</h5>
            <p class="card-text">View high scores, averages, success rates and other statistics about past exams!</p>
            @Html.ActionLink("Manage Statistics", "Statistics", "Clerk", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
        </div>
    </div>
</div>