@model Test2.Models.ExamDetailsViewModel
@{
    ViewBag.Title = "ExamManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ExamManager</h2>



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>

<div>
    @Html.ActionLink("Back to Dashboard", "Dashboard", "Home")
</div>

<table class="table">
    <tr>
        <th>
            Location
        </th>
        <th>
            Subject
        </th>
        <th>
            Starts At
        </th>
        <th>
            Ends At
        </th>

        <th>inv</th>
    </tr>

    @foreach (var item in Model.Sessions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedLocation.Campus)
                @Html.DisplayFor(modelItem => item.RelatedLocation.Building)
                @Html.DisplayFor(modelItem => item.RelatedLocation.Block)
                @Html.DisplayFor(modelItem => item.RelatedLocation.Floor)
                @Html.DisplayFor(modelItem => item.RelatedLocation.Room)
                Edit
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamDateTime)
                Edit
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamEndTime)
                Edit
            </td>
            <td>
                <p style="color:red">NOBODY</p>
                Change
            </td>

        </tr>
    }

    @foreach (var item in Model.Invigilations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedExamSession.RelatedLocation.Campus)
                @Html.DisplayFor(modelItem => item.RelatedExamSession.RelatedLocation.Building)
                @Html.DisplayFor(modelItem => item.RelatedExamSession.RelatedLocation.Block)
                @Html.DisplayFor(modelItem => item.RelatedExamSession.RelatedLocation.Floor)
                @Html.DisplayFor(modelItem => item.RelatedExamSession.RelatedLocation.Room)
                Edit
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedExamSession.SubjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedExamSession.ExamDateTime)
                Edit
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedExamSession.ExamEndTime)
                Edit
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedUser.FirstName)
                @Html.DisplayFor(modelItem => item.RelatedUser.Surname)
                Edit
            </td>

        </tr>
    }


</table>
