@model IEnumerable<Test2.Models.DBModels.ExamSession>
@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Statistics</h2>


<div>
    @Html.ActionLink("Back to Dashboard", "Dashboard", "Home")
</div>

<table class="table">
    <tr>
        <th>
            Subject
        </th>
        <th>
            Session
        </th>
        <th>
            Lowest Mark
        </th>
        <th>
            Average
        </th>
        <th>
            Highest Mark
        </th>
        <th>Sucesses #</th>
        <th>Out of</th>
        <th>Failures % </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RelatedSubject.SubjectName)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.ExamDateTime.Value.Month)
            @Html.DisplayFor(modelItem => item.ExamDateTime.Value.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinMark)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvgMark)

        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MaxMark)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfParticipants - item.NumOfFails)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfParticipants)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfFails/item.NumOfParticipants *100)%
        </td>

         

    </tr>
    }
     


</table>


