@model IEnumerable<Test2.Models.DBModels.ExamSession>
@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="tableCard" class="card">
    <div class="card-header">
        <h2 class="card-title">Statistics</h2>
    </div>
    <div class="card-body">
        @Html.ActionLink("Cancel", "Dashboard", "Home", new { }, new { @class = "btn btn-primary style-margin-bottom" })
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        Subject
                    </th>
                    <th scope="col">
                        Session
                    </th>
                    <th scope="col">
                        Lowest Mark
                    </th>
                    <th scope="col">
                        Average
                    </th>
                    <th scope="col">
                        Highest Mark
                    </th>
                    <th scope="col">Sucesses #</th>
                    <th scope="col">Out of</th>
                    <th scope="col">Failures % </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RelatedSubject.SubjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExamDateTime.Value.Month)
                            @Html.DisplayFor(modelItem => item.ExamDateTime.Value.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MinMark)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AvgMark)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.MaxMark)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumOfParticipants - item.NumOfFails)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumOfParticipants)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumOfFails / item.NumOfParticipants * 100)%
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


