@model Test2.Models.DBModels.Subject

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card managementFooter">
    <div class="card-header">
        <h5 class="card-title">Subject Details</h5>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <dt>
                    @Html.DisplayNameFor(model => model.RelatedDepartment.DepartmentName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RelatedDepartment.DepartmentName)
                </dd>
            </li>
            <li class="list-group-item">
                <dt>
                    @Html.DisplayNameFor(model => model.SubjectName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SubjectName)
                </dd>
            </li>
            <li class="list-group-item">
                <dt>
                    @Html.DisplayNameFor(model => model.Credits)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Credits)
                </dd>
            </li>
        </ul>

        <div id="buttonPadding" class="col-sm-10">
            @Html.ActionLink("Edit", "Edit", new { id = Model.SubjectId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Cancel", "Index", new { area = "" }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>