@using System.Web.DynamicData
@using Microsoft.AspNet.Identity
@using Test2.Models.DBModels
@model IEnumerable<Test2.Models.DBModels.PaperQuestion>
@{
    ViewBag.Title = "ExamPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ HttpContext.Current.Session["Username"] = User.Identity.GetUserName();


    List<PaperQuestion> paperQuestions =Model.ToList();

    List<Question> questions = ViewBag.Questions;
    List<StudentAnswer> answers = ViewBag.Answers;
    List<MultipleChoice> multichoices = ViewBag.MultiChoices;

    string examId = (string)ViewData["ExamId"];
    string[] examIdSplit = new string[4];
    examIdSplit[0] = ViewBag.Subject;

    string user = User.Identity.GetUserName();

}
<style>
    .QuestionButton {
        color: white;
        border-Color: white;
        font-Weight: 600;
        background-Color: lightslategray;
    }

        .QuestionButton.Started {
            color: white;
            border-Color: white;
            font-Weight: 600;
            background-Color: lightgrey;
        }

        .QuestionButton.Finished {
            color: white;
            border-Color: white;
            font-Weight: 600;
            background-Color: lightgreen;
        }

        .QuestionButton.Active {
            color: green;
            border-Color: lightgreen;
            font-Weight: 900;
            background-Color: lightcyan;
        }
</style>

<script>
        function show(x, number, paperQuestionId, a) {
            //getting the question answer
            var answer = document.getElementById('Answer ' + number).innerHTML;

            //hide the starting exam note and show the questions
            document.getElementById('examStart').hidden = true;
            document.getElementById('QuestionTextShown').hidden = false;
            document.getElementById('QuestionAnswer').hidden = false;
            document.getElementById('saveButton').hidden = false;
            document.getElementById('submitButton').hidden = false;
            document.getElementById('CurrentQuestion').innerHTML = paperQuestionId;

            document.getElementById('QuestionTextShown').innerHTML = x;
            document.getElementById('QuestionAnswer').name = number;
            document.getElementById('QuestionAnswer').value = answer;
        }

        function showChoices(a, b, c, d) {
            document.getElementById('Choice 1').hidden = false;
            document.getElementById('Choice 2').hidden = false;
            document.getElementById('Choice 3').hidden = false;
            document.getElementById('Choice 4').hidden = false;
            document.getElementById('Choice1').hidden = false;
            document.getElementById('Choice2').hidden = false;
            document.getElementById('Choice3').hidden = false;
            document.getElementById('Choice4').hidden = false;
            document.getElementById('Choice1').innerHTML = a;
            document.getElementById('Choice2').innerHTML = b;
            document.getElementById('Choice3').innerHTML = c;
            document.getElementById('Choice4').innerHTML = d;
            document.getElementById('QuestionAnswer').hidden = true;
        }


        function submit() {
            //getting the answer and number of question at the moment
            var answer;
            if (document.getElementById('Choice1').hidden === false) {
                answer = $("input[name='Choice']:checked").val();
            } else {
                answer = document.getElementById('QuestionAnswer').value;
            }
            var number = document.getElementById('QuestionAnswer').name;

            //setting the answer
            document.getElementById('Answer ' + number).innerHTML = answer;
            document.getElementById('Answer ' + number).setAttribute("submitted", "True");

            //sending the answer to the database
            var enrollment = '@User.Identity.GetUserName()' + "-" + '@examIdSplit[0]';
            var paperQuestion = document.getElementById('CurrentQuestion').innerHTML;
            var studentAnswer = {
                EnrollmentId: enrollment,
                PaperQuestionId: paperQuestion,
                Answer: answer,
                CommittedByStudent: true
            };


            $.ajax({
                type: "POST",
                url: '/Exams/Answer',
                data: studentAnswer,
                datatype: "html"
            });

            //going to the next question
            number = Number(number) + Number(1);
            var nextQuestion = document.getElementById(number);
            if (nextQuestion != null) {
                document.getElementById(number).click();
            } else {
                document.getElementById('examStart').hidden = false;
                document.getElementById('QuestionTextShown').hidden = true;
                document.getElementById('QuestionAnswer').hidden = true;
                document.getElementById('saveButton').hidden = true;
                document.getElementById('submitButton').hidden = true;
                document.getElementById('Choice 1').hidden = true;
                document.getElementById('Choice 2').hidden = true;
                document.getElementById('Choice 3').hidden = true;
                document.getElementById('Choice 4').hidden = true;
                document.getElementById('Choice1').hidden = true;
                document.getElementById('Choice2').hidden = true;
                document.getElementById('Choice3').hidden = true;
                document.getElementById('Choice4').hidden = true;

                //clear the button selection
                var x = document.getElementsByClassName("QuestionButton Active");
                if (x.length != 0) {
                    if (document.getElementById("Answer " + x[0].id).innerHTML != "") {
                        if (document.getElementById("Answer " + x[0].id).getAttribute("submitted") === "True") {
                            x[0].classList = "QuestionButton Finished";
                        } else {
                            x[0].classList = "QuestionButton Started";
                        }
                    } else {
                        x[0].classList = "QuestionButton";
                    }
                }

                document.getElementById('examStart').innerHTML = "You have finished the exam!";
            }
        }

        function save() {
            //getting the answer and number of question at the moment
            var answer;
            if (document.getElementById('Choice1').hidden === false) {
                answer = $("input[name='Choice']:checked").val();
            } else {
                answer = document.getElementById('QuestionAnswer').value;
            }
            var number = document.getElementById('QuestionAnswer').name;

            //setting the answer and the question
            document.getElementById('Answer ' + number).innerHTML = answer;

            //sending the answer to the database
            if (document.getElementById('Choice1').hidden === false) {
                answer = $("input[name='Choice']:checked").val();
            }
            var enrollment = '@User.Identity.GetUserName()' + "-" + '@examIdSplit[0]';
            var paperQuestion = document.getElementById('CurrentQuestion').innerHTML;
            var submitted = false;
            if (document.getElementById('Answer ' + number).name === "submitted") {
                submitted = true;
            }

            var studentAnswer = {
                EnrollmentId: enrollment,
                PaperQuestionId: paperQuestion,
                Answer: answer,
                CommittedByStudent: submitted
            };
            $.ajax({
                type: "POST",
                url: '/Exams/Answer',
                data: studentAnswer,
                datatype: "html",
                //success:
            });
        }

        function buttonAction(elmnt, question, number, paperQuestionId, a, b, c, d) {

            var x = document.getElementsByClassName("QuestionButton Active");
            /*
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].classList = "QuestionButton";
            }
            */
            //checking if the previous answer was submitted or not
            if (x.length != 0) {
                if (document.getElementById("Answer " + x[0].id).innerHTML != "") {
                    if (document.getElementById("Answer " + x[0].id).getAttribute("submitted") === "True") {
                        x[0].classList = "QuestionButton Finished";
                    } else {
                        x[0].classList = "QuestionButton Started";
                    }
                } else {
                    x[0].classList = "QuestionButton";
                }
            }

            elmnt.classList = "QuestionButton Active";

            //showing the question
            show(question, number, paperQuestionId, a);


            if (a != " ") {
                showChoices(a, b, c, d);
                if (document.getElementById('QuestionAnswer').value != "") {
                    document.getElementById('Choice ' + document.getElementById('QuestionAnswer').value).click();
                } else {
                    //deselect the radiobuttons
                    document.getElementById('Choice 1').checked = false;
                    document.getElementById('Choice 2').checked = false;
                    document.getElementById('Choice 3').checked = false;
                    document.getElementById('Choice 4').checked = false;
                }
            } else {
                document.getElementById('Choice 1').hidden = true;
                document.getElementById('Choice 2').hidden = true;
                document.getElementById('Choice 3').hidden = true;
                document.getElementById('Choice 4').hidden = true;
                document.getElementById('Choice1').hidden = true;
                document.getElementById('Choice2').hidden = true;
                document.getElementById('Choice3').hidden = true;
                document.getElementById('Choice4').hidden = true;
            }
        }
</script>

<h2>@ViewBag.Subject</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RelatedQuestion.QuestionId)
        </th>
        <th width="70%">
            @Html.DisplayNameFor(model => model.RelatedQuestion.QuestionText)
        </th>
    </tr>

    <tr>
        <th>
            @foreach (PaperQuestion item in paperQuestions)
            {
                if ((questions.Where(x => x.QuestionId == item.QuestionId).SingleOrDefault().QuestionFormat.ToString()) != "MultipleChoice")
                {
                    <button id="@item.NumberInPaper" class='QuestionButton 
                            @if (answers.Where(x => x.PaperQuestionId == item.PaperQuestionId).SingleOrDefault() != null)
                                {
                                    if (answers.Where(x => x.PaperQuestionId == item.PaperQuestionId).SingleOrDefault().CommittedByStudent == true) {<text>Finished</text>}
                                    else {<text>Started</text>}
                                }' 
                            style="width: 100%; float: left" OnClick="buttonAction(this, '@questions.Where(x => x.QuestionId == item.QuestionId).SingleOrDefault().QuestionText.ToString()', @item.NumberInPaper, '@item.PaperQuestionId', ' ', ' ', ' ', ' ')" ;>
                        @Html.DisplayFor(modelItem => item.NumberInPaper)
                    </button>
                }
                else
                {
                    <button id="@item.NumberInPaper" class='QuestionButton @if (answers.Where(x => x.PaperQuestionId == item.PaperQuestionId).SingleOrDefault() != null)
                        {
                            if (answers.Where(x => x.PaperQuestionId == item.PaperQuestionId).SingleOrDefault().CommittedByStudent == true) {<text>Finished</text>}
                            else {<text>Started</text>}
                        }' 
                        style="width: 100%; float: left" OnClick="buttonAction(this, '@questions.Where(x => x.QuestionId == item.QuestionId).SingleOrDefault().QuestionText.ToString()', @item.NumberInPaper, '@item.PaperQuestionId', '@multichoices.Where(x => x.QuestionId == item.QuestionId).SingleOrDefault().OptionText1', '@multichoices.Where(x => x.QuestionId == item.QuestionId).SingleOrDefault().OptionText2', '@multichoices.Where(x => x.QuestionId == item.QuestionId).SingleOrDefault().OptionText3', '@multichoices.Where(x => x.QuestionId == item.QuestionId).SingleOrDefault().OptionText4')" ;>
                        @Html.DisplayFor(modelItem => item.NumberInPaper)
                    </button>
                }

                <p hidden id="Answer @item.NumberInPaper" name="" submitted="
                   @if (answers.Where(x => x.PaperQuestionId == item.PaperQuestionId).SingleOrDefault() != null)
                        {
                            @answers.Where(x => x.PaperQuestionId == item.PaperQuestionId).SingleOrDefault().CommittedByStudent;
                        }
                        else {<text>False</text>}">
                    @if (answers.Where(x => x.PaperQuestionId == item.PaperQuestionId).SingleOrDefault() != null)
                    {
                        @answers.Where(x => x.PaperQuestionId == item.PaperQuestionId).SingleOrDefault().Answer;
                    }
                        </p>
            }
        </th>

        <th>
            <p id="examStart">
                Please choose the appropriate Question on the left. Good luck and May the odds be ever in your favour!
            </p>
            <p hidden id="QuestionTextShown"></p>
            <textarea hidden style="width: 100%; float: left; height: 100px" id="QuestionAnswer" name=""></textarea>

            <!--pargaraphs that show the multiple choice options-->
            <input hidden id="Choice 1" type="radio" name="Choice" value="1"><h hidden id="Choice1"></h><br>
            <input hidden id="Choice 2" type="radio" name="Choice" value="2"><h hidden id="Choice2"></h><br>
            <input hidden id="Choice 3" type="radio" name="Choice" value="3"><h hidden id="Choice3"></h><br>
            <input hidden id="Choice 4" type="radio" name="Choice" value="4"><h hidden id="Choice4"></h><br>
        </th>
    </tr>
</table>

<button hidden id="saveButton" style="float: left; width: 20%" OnClick="save()">
    Save
</button>

<button hidden id="submitButton" style="float: right; width: 20%" OnClick="submit()">
    <p hidden id="CurrentQuestion"></p>
    Submit
</button>


