@model IEnumerable<Test2.Models.DBModels.Location>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="tableCard" class="card">
    <div class="card-header">
        <h2 class="card-title">Location Index</h2>
    </div>
    <div class="card-body">
        @Html.ActionLink("Cancel", "Dashboard", "Home", new { }, new { @class = "btn btn-primary style-margin-bottom" })
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary style-margin-bottom" })
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Campus)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Building)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Floor)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Block)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Room)
                    </th>
                    <th scope="col">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Campus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Building)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Floor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Block)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Room)
                        </td>
                        <td>
                            <div class="col">
                                @Html.ActionLink("Edit", "Edit", new { id = item.LocationId }, new { @class = "btn btn-primary btn-sm" })
                            </div>
                            <div class="col coltop10px">
                                @Html.ActionLink("Details", "Details", new { id = item.LocationId }, new { @class = "btn btn-primary btn-sm" })
                            </div>
                            <div class="col coltop10px">
                                @Html.ActionLink("Delete", "Delete", new { id = item.LocationId }, new { @class = "btn btn-primary btn-sm" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>