@using Test2.Models.DBModels
@model IEnumerable<Test2.Models.DBModels.Invigilation>

@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="tableCard" class="card">
    <div class="card-header">
        <h2 class="card-title">Upcoming Duties for: @ViewBag.Name</h2>
    </div>
    <div class="card-body">
        @Html.ActionLink("Return", "Dashboard", "Home", new { }, new { @class = "btn btn-primary style-margin-bottom" })
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.RelatedExamSession.RelatedSubject.SubjectName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.RelatedExamSession.ExamDateTime)
                    </th>
                    <th scope="col">Place</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col">
                            @Html.DisplayFor(modelItem => item.RelatedExamSession.RelatedSubject.SubjectName)
                        </td>
                        <td class="col">
                            @Html.DisplayFor(modelItem => item.RelatedExamSession.ExamDateTime)
                        </td>
                        <td class="col">
                            @Html.DisplayFor(modelItem => item.RelatedExamSession.RelatedLocation.Campus)
                            <br />
                            @Html.DisplayFor(modelItem => item.RelatedExamSession.RelatedLocation.Building)
                            <br />
                            @Html.DisplayFor(modelItem => item.RelatedExamSession.RelatedLocation.Block) -
                            @Html.DisplayFor(modelItem => item.RelatedExamSession.RelatedLocation.Floor) -
                            @Html.DisplayFor(modelItem => item.RelatedExamSession.RelatedLocation.Room)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
