@using System.Data.SqlClient
@using Microsoft.EntityFrameworkCore.Storage
@model Group_APT.Models.Student

@{
    ViewData["Title"] = "Details";

    List<SelectListItem> listunits = new List<SelectListItem>();
    using (SqlConnection connection = new SqlConnection(@"Server=(localdb)\mssqllocaldb;Database=Group_APT.NewDb;Trusted_Connection=True;ConnectRetryCount=0"))
    {
        connection.Open();
        string query = "SELECT StudentUnitRelationships.Code, Name FROM dbo.StudentUnitRelationships JOIN dbo.Units ON StudentUnitRelationships.Code=Units.Code WHERE UniversityStudentId='" + Model.UniversityStudentId + "'";
        using (SqlCommand command = new SqlCommand(query, connection))
        {
            using (SqlDataReader reader = command.ExecuteReader())
            {
                while (reader.Read())
                {
                    listunits.Add(new SelectListItem() { Text = reader.GetString(0) + " - " + reader.GetString(1) });
                }
            }
        }
    }
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityStudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UniversityStudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentImageLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentImageLocation)
        </dd>
    </dl>
    
    <h4>Units Taken</h4>
    <dl class="row">
        @foreach (var item in listunits)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Text)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UniversityStudentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
