@model IEnumerable<Test2.Models.DBModels.Question>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RelatedSubject.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelatedTopic.TopicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionUsage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SampleAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionFormat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RelatedSubject.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelatedTopic.TopicName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionUsage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SampleAnswer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionFormat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Questions", new { id=item.QuestionId }) |
            @Html.ActionLink("Details", "Details", "Questions", new { id=item.QuestionId }) |
            @Html.ActionLink("Delete", "Delete", "Questions", new { id=item.QuestionId })
        </td>
    </tr>
}

</table>
