@model Test2.Models.DBModels.Shot

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Shot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RelatedEnrollment.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelatedEnrollment.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShotTiming)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShotTiming)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShotId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
