@model IEnumerable<Test2.Models.DBModels.Enrollment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="tableCard" class="card">
    <div class="card-header">
        <h2 class="card-title">Enrollment Index</h2>
    </div>
    <div class="card-body">
        @Html.ActionLink("Cancel", "Dashboard", "Home", new { }, new { @class = "btn btn-primary style-margin-bottom" })
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary style-margin-bottom" })
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.RelatedStudent.StudentId)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.RelatedSubject.SubjectName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.ExamMark)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.SeatNumber)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.SessionStatus)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.FinalAssessment)
                    </th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RelatedStudent.StudentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RelatedSubject.SubjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExamMark)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeatNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SessionStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinalAssessment)
                    </td>
                    <td>
                        <div class="col">
                            @Html.ActionLink("Edit", "Edit", new { id = item.EnrollmentId }, new { @class = "btn btn-primary btn-sm" })
                        </div>
                        <div class="col coltop10px">
                            @Html.ActionLink("Details", "Details", new { id = item.EnrollmentId }, new { @class = "btn btn-primary btn-sm" })
                        </div>
                        <div class="col coltop10px">
                            @Html.ActionLink("Delete", "Delete", new { id = item.EnrollmentId }, new { @class = "btn btn-primary btn-sm" })
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>